/* (xs)-Extra small devices (portrait phones, less than 576px) */

@media (max-width:575.98px){
    .tabbable-line > .nav-tabs {
        width: 100%;
    }
    .spa1{
        padding-left: 0px;
    }
}

/* (sm)-Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .tabbable-line > .nav-tabs {
        width: 55%;
    }
}

/* (md)-Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .tabbable-line > .nav-tabs {
        width: 40%;
    }
}

/* (lg)-Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .tabbable-line > .nav-tabs {
        width: 30%;
    }
    .p1_col1{
        margin-top: 150px;
    }
}

/* (xl)-Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .tabbable-line > .nav-tabs {
        width: 24%;
    }
    .t1{
        margin-bottom: 270px;
    }
    .do_t1{
        margin-top: 3vh;;
    }
    .p1_col1{
        margin-top: 60px;
    }
    
}
@media (min-width:2000px){
    .p1_col1{
        margin-top: 100px;
    }
    .t1{
        height: 120px;
    }
    .do_t1{
        font-size: 45px;
    }
    .promo{
        margin-left: 40px;
        width: 10vw;
        font-size: 15px;
    }
    .rech{
        font-size: 1vw;
    }
}


